torch-2.3.0+cu121-cp312-cp312-linux_x86_64.whl filter=lfs diff=lfs merge=lfs -text
torchaudio-2.3.0+cu121-cp312-cp312-linux_x86_64.whl filter=lfs diff=lfs merge=lfs -text
torchvision-0.18.0+cu121-cp312-cp312-linux_x86_64.whl filter=lfs diff=lfs merge=lfs -text
